
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: rgba(0, 136, 169, 1);
}

/* Nav Bar */

.navbar {
    background-color: black;
}

.navbar li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.navbar img {
    height: 4em;
    width: auto;
}

.logo {
    cursor: pointer;
}

.navlinks {
    list-style: none;
}

.navlinks li {
    display: inline-block;
    padding: 0px 20px;
}

.navlinks li a {
    transition: all 0.3s ease 0s;
}

.navlinks li a:hover {
    color: #0088a9;
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.7);
}

/* Hero */

.hero {
    height: 40vh;
    background-image: url(..//cycleclubresponsive/images/heroimg.jpeg);
    background-size: cover;
}

.herotitle {
    color: white;
    background-color: rgba(0, 136, 169, 0.7);
    width: 40vw;
    text-align: center;
    
    
}

 .herotitcontainer {
    margin-left: 1.5em;
}

/* More About The club */

.what {
    background-color: rgba(0, 136, 169, 1);
    color: whitesmoke;
}

.what h2 {
    padding-top: 1em;
    padding-left: .35em;
    padding-right: .35em;
}

.what p {
    padding: 1em 0.35em;
}

/* First Image Section */

.firstimages img, .secondimages img{
    max-width: 100%;
    padding: 0.5em;
    display: block;
    background-color: rgba(0, 136, 169, 1);
}

/* MEETINGS */

.meet {
    background-color: rgba(0, 136, 169, 1);
    color: whitesmoke;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: .35em;
    padding-right: .35em;
}

.meet h2 {
    padding-bottom: 1em;
}

#meetday {
    font-weight: bold;
    line-height: .25em;
}

/* Footer */

.footer {
    display: flex;
    justify-content: space-evenly;
    
    width: 100vw;
    background-color: black;
    color: whitesmoke;
    height: 3em;
    
}

.footer ul {
    display: flex;
    text-decoration: none;
    justify-content: space-evenly;
   
}

.footer li {
    text-decoration: none;
    list-style: none;
    justify-content: space-evenly;
    padding: 1em 1em;
}


@media only screen and (min-width: 780px) {

.hero {
    height: 60vh;
}

.herotitle {
    max-width: 310px;
    
}

.firstimages, .secondimages {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
    background-color: rgba(0, 136, 169, 1);
}

.firstimages img, .secondimages img{
    max-width: 32%;
}

.secondimages {
    padding-bottom: 1em;
}

.what h2, .what p {
    margin-left: 2%;
    max-width: 70%;
}

.meet h2, .meet p {
    margin-left: 2%;
}




