body{
    font-family: Helvetica;
}
.header{
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg");
    background-size: cover;
    background-position: center;
    font-size: 75px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    padding: 20.00px;
    margin: 1px;
}
h2{
    font-size: 32px;
    font-weight: bold;
    color: white;
}
#brushes{
    background-color: mediumspringgreen;
}
#startprice{
    color: blue;
    font-weight: bold;
}
#frames{
    background-color: lightcoral;
}
#paint{
    background-color: skyblue;
}



